@import '../../../mantine';

@mixin dark-background {
  background-color: rgba(5, 6, 9, 0.6);
}

@mixin light-background {
  background-color: rgba(255, 255, 255, 0.6);
}

.appShell {
  @include dark {
    @include dark-background;
  }

  @include light {
    @include light-background;
  }
}

.header {
  align-items: center;
  padding-right: var(--mantine-spacing-xl);
  padding-left: var(--mantine-spacing-md);
  backdrop-filter: blur(8px);

  @include dark {
    @include dark-background;
  }

  @include light {
    @include light-background;
  }
}
