body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.nav-item-pointer {
  cursor: pointer;
}

.hvr-shadow-radial {
  border-radius: 5px;
  box-shadow: rgba(35, 35, 35, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}


.img-dashboard-avatar {
  height: 3.1rem;
  margin-left: 3rem;
}

.navbar-custom-margin {
  margin-right: 12rem;

  span {
    cursor: pointer;
  }
}



